/*---------------------------MAIN INDEX-----------------------------*/

  #main{
    max-width: 100%;
    width: 100%;
    margin: 0; /*el margin de arriba y abajo esta en cero, pero con esto el margin left y right es adaptable*/
     /*CUANDO SE PONEN 2 MEDIDAS EN UN MARGIN O EN UN PADDING: LA PRIMERA MEDIDA CAMBIA EL TOP Y EL BOTTOM
        Y LA SEGUNDA MEDIDA EL LEFT Y RIGHT
        EN ESTE CASO EL TOP Y BOTTOM ES 0 Y EL LEFT Y RIGHT ES AUTOMATICO.
         
        T-R-B-L(top-right-bottom-left)
        */
    padding-top: 10px;/*PARA QUE NO SE PISE EL NAV CON EL TEXTO DE LA PAGINA SE LE DA UN PADDING DE APENAS UN POCO MAS DEL TAMANO DEL HEADER*/
    padding-bottom: 30px;
    margin-top: 50px;
    font-family: "PT Sans", serif;
  }
  
  .bestSeller{
    height: 100px;
    width: 100%;
    display: flex;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 30px;
    font-family: "PT Sans", serif;
    backface-visibility: hidden;
  }

  
  .sectionBestSeller{
    display: flex;
    width: 100%;
    justify-content: space-evenly ;
    align-items: center;
    text-align: center;
    font-family:  "PT Sans", serif;
  }
  
  .imgBestSeller{
    width: 400px;
    height: 430px;
    border: 1px solid;
    border-radius: 3px;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    text-decoration: none;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: whitesmoke;
}
  .novedades{
    width: 100%;
    height: 600px;
  
  }
  
  .imagenBottomMain{
    width: 100%;
    height: 300px;
    margin-top: 70px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .sectionBestSeller{
    font-weight: bold;
  
  }
  
  .imgBestSeller:hover{
    padding-bottom: 10px;
    padding-right: 5px;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.495);
    transition: 0.2s;
  }


  .slider {
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .brands {
    display: flex;
    animation: slide 20s linear infinite;
    list-style: none;
  }

  .brandLogo {
    flex: 0 0 auto;
    margin: 0 20px;
  }

  .brandLogo img {
    max-height: 150px;
  }

  @keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
  }
  
  /* Estilo inicial para la imagen */
  // .imagen-fondo {
  //   width: 100%;
  //   height: 300px; /* ajusta según tus necesidades */
  //   background-image: url('images/imagen_grande.jpg');
  //   background-size: cover;
  //   background-position: center;
  // }